[Unit]
Description=CouchPotato application instance
Requires=network.target local-fs.target

[Service]
User=couchpotato
Group=couchpotato

Type=simple
ExecStartPre=-mkdir -p /home/%i/.config/couchpotato
ExecStart=/usr/bin/python2 /opt/couchpotato/CouchPotato.py --data_dir /home/%i/.config/couchpotato

Restart=on-failure
RestartSec=42s


#Type=forking
#GuessMainPID=no
#ExecStart=/usr/bin/python2 /opt/couchpotato/CouchPotato.py --daemon --data_dir /home/%i/.config/couchpotato

[Install]
WantedBy=multi-user.target
