[Unit]
Description=Headphones - Automatic music downloader for SABnzbd
Requires=network.target local-fs.target

[Service]
User=headphones
Group=headphones

Type=forking
GuessMainPID=no
ExecStart=python2 /opt/headphones/Headphones.py --daemon --nolaunch --quiet --datadir /home/%i/.config/headphones

[Install]
WantedBy=multi-user.target
