[Unit]
Description=Headphones - Automatic music downloader for SABnzbd
Requires=network.target local-fs.target

[Service]
Type=forking
GuessMainPID=no
User=headphones
Group=headphones
ExecStart=/opt/headphones/Headphones.py --config /opt/headphones/config.ini --datadir /opt/headphones --daemon --nolaunch --quiet

[Install]
WantedBy=multi-user.target
