[Unit]
Description=Jackett Daemon
After=network.target

[Service]
User=jackett

Type=simple
ExecStart=/opt/jackett/JackettConsole.exe --ListenPrivate -d /home/%i/.config/jackett
Restart=always
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
