[Unit]
Description=nftables

[Service]
Type=oneshot
ExecStart=/usr/sbin/nft -f /etc/nftables/fw.rules
#ExecStart=/bin/sh -c "find /etc/nftables -maxdepth 1 -type f -name '*.rules' -print0 | sort -z | xargs --null --no-run-if-empty --max-args=1 nft -f"

[Install]
WantedBy=multi-user.target
