[Unit]
Description=Sonarr application instance
After=network.target

[Service]
User=sonarr
Group=sonarr
WorkingDirectory=/home/%i

Type=simple
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe

[Install]
WantedBy=multi-user.target
