[Unit]
Description=Sonarr application instance
After=network.target

[Service]
Type=simple
User=sonarr
Group=sonarr
ExecStart=/opt/NzbDrone/NzbDrone.exe


[Install]
WantedBy=multi-user.target
